@{
    HttpCookie id = new HttpCookie("man");
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Editar Perfil</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
</head>
<body style="background-color: floralwhite">
    <script>
        @{id = Request.Cookies["userId"];
            if (id == null)
            {
                Response.Redirect("LoginPage.cshtml");
            }
        }
    </script>
    <h1 style="font-family:'Century Gothic'; text-align:center ; margin-top:10vh"> Altere seu perfil</h1>
    <div style="padding-top:15vh">
        <div class="EditProfileDiv">
            <form action="~/HTML/RealizarMudanças.cshtml" method="post">
                <h2>Alterar Nome de Usuario</h2>
                <input class="twitterTextBlack" type="text" name="newUser" value="" maxlength="20" /><br />
                <h2>Alterar Foto de perfil(link)</h2>
                <textarea class="twitterTextAreaBlack" name="newPic" id="mensagem" placeholder="Cole o link da imagem aqui" max-rows="0" rows="5" cols="16" wrap="hard" minlength="1" maxlength="200"></textarea>
                <h2>Alterar Descrição</h2>
                <textarea class="twitterTextAreaBlack" name="newDesc" id="mensagem" placeholder="digite aqui..." max-rows="0" rows="5" cols="16" wrap="hard" minlength="1" maxlength="140"></textarea>
                <input type="submit" name="NovoPerfil" value="Realizar Mudanças"/>
            </form>
        </div>
    </div>

</body>
</html>


