@using ProjetoWeb.Classes
@{BancoDeDados.DBConnect();}
@{
    HttpCookie id = new HttpCookie("wtver");
    int personExistsCS = 0;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
    <title>Frase - entrar</title>
</head>
<body style="padding-top: 50px; background-color: floralwhite" onload="ValidateRegister()">
    <div class="backgroundBlank">
        <br>
        <br>
        <h1 class="defaultHeader">Entre no Frase!</h1>
        <br>
        <br>
        <br>
        <div class="loginDiv">
            <form id="loginForm" autocomplete="off" method="post" action="~/HTML/LoginAuth.cshtml">
                <fieldset>
                    <legend>Login</legend>
                    <label>Usuario:<br> </label><input class="inputField" name="userLogin" type="text" required maxlength="15" autocomplete="off">
                    <br>
                    <br>
                    <label>Senha:<br> </label><input class="inputField" name="senhaLogin" type="password" required minlength="6" maxlength="30" autocomplete="off">
                    <br>
                    <br>
                    <input class="inputField" type="submit" value="Entrar">
                </fieldset>
            </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="loginDiv">
            <form id="registroForm" name="registroForm" autocomplete="off" method="post">
                <fieldset>
                    <legend>Cadastro</legend>
                    <label>Usuario:<br> </label><input class="inputField" name="userCad" id="userCad" type="text" required minlength="6" maxlength="15" autocomplete="off">
                    <br>
                    <br>
                    <label>Senha:<br> </label><input class="inputField" name="senhaCad" id="senhaCad" type="password" required minlength="6" maxlength="30" autocomplete="off">
                    <br>
                    <br>
                    <label>Confirmar Senha:<br> </label><input class="inputField" name="senhaCad2" id="senhaCad2" type="password" required minlength="6" maxlength="30" autocomplete="off">
                    <br>
                    <br>
                    <input class="inputField" type="submit" value="Registrar">
                </fieldset>
            </form>
        </div>
        <br>
    </div>
</body>
</html>

<script>
    function ValidateRegister() {

        @if (Request.Form["userCad"] == null)
        {
            <text>
                return
            </text>
        }
        let personExists;
                @if (Request.Form["senhaCad"] == Request.Form["senhaCad2"])
                {

                    if (BancoDeDados.UserExists(Request.Form["userCad"]) == false)
                    {
                        personExistsCS = 0;
                        BancoDeDados.Cadastro(Request.Form["userCad"], Request.Form["senhaCad"]);
                    }
                    else
                    {
                        personExistsCS = 1;
                    }
                }
                else
                {
                    personExistsCS = 2;
                }
            personExists = @personExistsCS;
        if (personExists != null && personExists != undefined) {
            if (personExists == 0) {
                alert("Cadastrado com sucesso!");
            } else if (personExists == 1) {
                alert("Já há alguém usando este nome de usuario")
            } else {
                alert("Erro ao inserir informações")
            }
        }
        var regForm = document.getElementsByName('registroForm')[0];
        regForm.target.reset();
    }
    @{
        if (id != null)
        {
            Response.Cookies["userId"].Expires = DateTime.Now.AddDays(-1);
            Response.Cookies["isMod"].Expires = DateTime.Now.AddDays(-1);
        }
    }
</script>



