@using ProjetoWeb.Classes;
@{BancoDeDados.DBConnect();}
@{
    HttpCookie sessionId = new HttpCookie("userId");
    int validateCS = ValidateLogin();
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
    <title>Autenticando Login</title>
</head>
<body>
    <h1 id="authResult" onclick="teste()">Place Holder</h1>
    <script>
        let validate;
        let userId = @sessionId.Values["userId"];
        validate = @validateCS;
            if (validate == 1) {
                document.getElementById("authResult").innerHTML = "Você se Logou com sucesso!";
                document.write("<input type='submit' name='uid' id='uid' value='@sessionId.Values["userId"]'/>");
            }
            else {
                document.getElementById("authResult").innerHTML = "Erro ao efetuar Login";
            }
    </script>
</body>
</html>

@{int ValidateLogin()
    {
        string temp;
        if (BancoDeDados.Login(Request.Form["userLogin"], Request.Form["senhaLogin"], out temp) == true)
        {
            sessionId.Values.Add("userId", temp);
            sessionId.Expires = DateTime.Now.AddHours(12);
            Response.Cookies.Add(sessionId);
            return 1;
        }
        else
        {
            return 0;
        }
    }
}
