@using ProjetoWeb.Classes
@{BancoDeDados.DBConnect();}
@{ 
    int personExistsCS = 0;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
    <title>Frase - entrar</title>
</head>
<body style="padding-top: 50px" onload="SendAlert()">
    <div class="backgroundBlank">
        <br>
        <br>
        <h1 class="defaultHeader">Entre no Frase!</h1>
        <br>
        <br>
        <br>
        <br>
        <div class="loginDiv">
            <form id="loginForm" autocomplete="off" method="post" onsubmit="NewLogin()" action="~/HTML/LoginAuth.cshtml">
                <fieldset>
                    <legend>Login</legend>
                    <label>Usuario:<br> </label><input class="inputField" name="userLogin" type="text" required maxlength="20" autocomplete="off">
                    <br>
                    <br>
                    <label>Senha:<br> </label><input class="inputField" name="senhaLogin" type="password" required minlength="6" maxlength="30" autocomplete="off">
                    <br>
                    <br>
                    <input class="inputField" type="submit" value="Entrar">
                </fieldset>
            </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="loginDiv">
            <form id="registroForm" autocomplete="off" method="post" onsubmit="ValidateRegister()">
                <fieldset>
                    <legend>Cadastro</legend>
                    <label>Usuario:<br> </label><input class="inputField" name="userCad" id="userCad" type="text" required minlength="6" maxlength="20" autocomplete="off">
                    <br>
                    <br>
                    <label>Senha:<br> </label><input class="inputField" name="senhaCad" id="senhaCad" type="password" required minlength="6" maxlength="30" autocomplete="off">
                    <br>
                    <br>
                    <label>Confirmar Senha:<br> </label><input class="inputField" name="senhaCad2" id="senhaCad2" type="password" required minlength="6" maxlength="30" autocomplete="off">
                    <br>
                    <br>
                    <input class="inputField" type="submit" value="Registrar">
                </fieldset>
            </form>
        </div>
    </div>
    <script>
        function ValidateRegister() {
            let personExists;
            if (document.getElementById("senhaCad").value == document.getElementById("senhaCad2").value) {
                 @{
                     if (BancoDeDados.UserExists(Request.Form["userCad"]) == false)
                     {
                         personExistsCS = 0;
                         BancoDeDados.Cadastro(Request.Form["userCad"], Request.Form["senhaCad"]);
                     }
                     else
                     {
                         personExistsCS = 1;
                     }
                  }
                personExists = @personExistsCS
            } else {
                personExists = 2;
            }
            window.localStorage.setItem("nextAlert", personExists);
        }

        function SendAlert() {
            let personExistsNew = window.localStorage.getItem("nextAlert");
            if (personExistsNew != null && personExistsNew != undefined) {
                if (personExistsNew == 0) {
                    alert("Cadastrado com sucesso!");
                } else if (personExistsNew == 1) {
                    alert("Já há alguém usando este nome de usuario")
                } else {
                    alert("Erro ao inserir informações")
                }
            }
            window.localStorage.removeItem("nextAlert");
        }
    </script>
</body>
</html>



