@using ProjetoWeb.Classes
@{BancoDeDados.DBConnect();}
@{
    HttpCookie id = new HttpCookie("wtver");
    int personExistsCS = 0;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
    <title>Frase - entrar</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body style="padding-top: 50px; background-color: #c9c1d6" onload="ValidateRegister()">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <div class="border-top border-bottom border-dark shadow-lg" style="background-color: #B8D4DD">
        <br>
        <p class="fs-1 text-dark" style="text-align:center; text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;">Entre no Frase!</p>
        <br>
        <br>
        <div class="text-bg-light border border-dark shadow rounded" style="width:50%; margin:0 auto; padding-left: 1%; padding-right:1%">
            <form id="loginForm" autocomplete="off" method="post" action="~/HTML/LoginAuth.cshtml">
                <fieldset>
                    <legend>Login</legend>
                    <label class="form-label">Usuario:</label><input class="form-control" name="userLogin" type="text" required maxlength="15" autocomplete="off">
                    <br>
                    <label class="form-label">Senha: </label><input class="form-control" name="senhaLogin" type="password" required minlength="6" maxlength="30" autocomplete="off">
                    <br>
                    <input class="btn btn-primary" style="margin-bottom:1%; margin-left:1%" type="submit" value="Entrar">
                </fieldset>
            </form>
        </div>
        <br>
        <br>
        <div class="text-bg-light border border-dark shadow rounded" style="width:50%; margin:0 auto; padding-left: 1%; padding-right:1%">
            <form id="registroForm" name="registroForm" autocomplete="off" method="post">
                <fieldset>
                    <legend>Cadastro</legend>
                    <label class="form-label">Usuario:</label><input class="form-control" name="userCad" id="userCad" type="text" required minlength="6" maxlength="15" autocomplete="off">
                    <br>
                    <label class="form-label">Senha:</label><input class="form-control" name="senhaCad" id="senhaCad" type="password" required minlength="6" maxlength="30" autocomplete="off">
                    <br>
                    <label class="form-label">Confirmar Senha:<br> </label><input class="form-control" name="senhaCad2" id="senhaCad2" type="password" required minlength="6" maxlength="30" autocomplete="off">
                    <br>
                    <input class="btn btn-primary" style="margin-bottom:1%" type="submit" value="Registrar">
                </fieldset>
            </form>
        </div>
        <br>
    </div>
</body>
</html>

<script>
    function ValidateRegister() {

        @if (Request.Form["userCad"] == null)
        {
            <text>
                return
            </text>
        }
        let personExists;
                @if (Request.Form["senhaCad"] == Request.Form["senhaCad2"])
                {

                    if (BancoDeDados.UserExists(Request.Form["userCad"]) == false)
                    {
                        personExistsCS = 0;
                        BancoDeDados.Cadastro(Request.Form["userCad"], Request.Form["senhaCad"]);
                    }
                    else
                    {
                        personExistsCS = 1;
                    }
                }
                else
                {
                    personExistsCS = 2;
                }
            personExists = @personExistsCS;
        if (personExists != null && personExists != undefined) {
            if (personExists == 0) {
                alert("Cadastrado com sucesso!");
            } else if (personExists == 1) {
                alert("Já há alguém usando este nome de usuario")
            } else {
                alert("Erro ao inserir informações")
            }
        }
        var regForm = document.getElementsByName('registroForm')[0];
        regForm.target.reset();
    }
    @{
    Response.Cookies["userId"].Expires = DateTime.Now.AddDays(-1);
    Response.Cookies["isMod"].Expires = DateTime.Now.AddDays(-1);
    Response.Cookies["isDono"].Expires = DateTime.Now.AddDays(-1);
    

    }
</script>



