@using ProjetoWeb.Classes;
@{BancoDeDados.DBConnect();}
@{
    HttpCookie sessionId = new HttpCookie("userId");
    HttpCookie isMod = new HttpCookie("isMod");
    HttpCookie isDono = new HttpCookie("isDono");
    int validateCS = ValidateLogin();
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
    <title>Autenticando Login</title>
</head>
<body>
    <script>
        let validate;
        validate = @validateCS;
            if (validate == 2) {
                document.location.replace("index.cshtml")
            }
        if (validate == 1) {
                window.location.replace("LoginPage.cshtml")
        }
    </script>
</body>
</html>

@{int ValidateLogin()
    {
        string temp;
        if (BancoDeDados.Login(Request.Form["userLogin"], Request.Form["senhaLogin"], out temp) == true)
        {
            if (temp != "-1")
            {
                sessionId.Values.Add("userId", temp);
                if(BancoDeDados.IsMod(temp) == true)
                {
                    isMod.Values.Add("isMod", "1");
                    isMod.Expires = DateTime.Now.AddHours(12);
                    Response.Cookies.Add(isMod);
                }
                sessionId.Expires = DateTime.Now.AddHours(12);
                Response.Cookies.Add(sessionId);
                return 2;
            }
            return 1;
        }
        else
        {
            return 1;
        }
    }
}
