@using ProjetoWeb.Classes
@{BancoDeDados.DBConnect();}
@{
    Layout = null;
    HttpCookie idCook = new HttpCookie("mmm");
    string cookieValue;
}

<html>
<head>
    <title>Perfil</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
</head>
<body style="background-color: floralwhite">

    <script>
    @{
        idCook = Request.Cookies["userId"];
    }
    </script>
    @if (idCook != null)
    {
        if (string.IsNullOrEmpty(Request.Form["ProfileToGo"]))
        {
            Response.Redirect("index.cshtml");
        }
        cookieValue = Context.Request.Cookies["userId"].Value.Split('=')[1];
        <script>
        @{
            string id = Request.Form["ProfileToGo"];
            Profile profile = BancoDeDados.GetProfile(id);
            if (profile == null)
            {
                if (id == cookieValue)
                {
                    BancoDeDados.CreateProfile(cookieValue);
                    Response.Redirect("EditarPerfil.cshtml");
                }
                else
                {
                    Response.Redirect("index.cshtml");
                }
            }
        }
        </script>
        <div class="ProfileHeader">
            <img class="ProfilePic" src="@profile.imageUrl" alt="ProfilePic" />

        </div>
        if (cookieValue == profile.userId)
        {
            <br />
            <div style='width:50%; margin: 0 auto; display: block'>
                <button style='float:right; background-color:white;' onclick='window.location.replace("EditarPerfil.cshtml")'>Editar</button>
            </div>
            <br />
        }


        <br>
        <div class="ProfileInfos">
            <br>
            <h4 style="padding-left:3%; font-family: 'Century Gothic';">@profile.name</h4>
            <p style="padding-left:5%; font-family: 'Century Gothic';">@profile.description</p>
            <form method="post">
                <input type="hidden" name="profUserId" value="" />
            </form>
        </div>
        <script>
            function IndexRedirect() {
                window.location.replace("index.cshtml")
            }
        </script>
    }
    else
    {
        Response.Redirect("LoginPage.cshtml");
    }
</body>
</html>