@using ProjetoWeb.Classes
@{BancoDeDados.DBConnect();}
@{
    Layout = null;
    HttpCookie idCook = new HttpCookie("mmm");
    string cookieValue = "waiting";
}

<html>
<head>
    <title>Perfil</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body style="background-color: #c9c1d6">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script>
    @{
        idCook = Request.Cookies["userId"];
    }
    </script>
    @if (idCook != null)
    {
        if (string.IsNullOrEmpty(Request.Form["ProfileToGo"]))
        {
            Response.Redirect("index.cshtml");
        }
        cookieValue = Context.Request.Cookies["userId"].Value.Split('=')[1];
        <script>
        @{
            string id = Request.Form["ProfileToGo"];
            Profile profile = BancoDeDados.GetProfile(id);
            if (profile == null)
            {
                if (id == cookieValue)
                {
                    BancoDeDados.CreateProfile(cookieValue);
                    Response.Redirect("EditarPerfil.cshtml");
                }
                else
                {
                    Response.Redirect("index.cshtml");
                }
            }
        }
        </script>
        <div class="container-fluid">
            <div style="height:5%; width: 100%; background-color: #7a7a7a; z-index:100; position:fixed" class="border border-2 border-dark shadow-lg row">
                <div class="col">
                    <a href="~/HTML/index.cshtml"><img class="img-thumbnail" style="max-width: 7%; max-height: 4.2vh; z-index:98; margin-top:0.2vh" src="~/homeIcon.png" alt="home" /></a>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <h1 style="font-family:'Brush Script MT'; font-size: 1.5vw; margin-top: 0.5vh">FRASE</h1>
                    </div>
                </div>
                <div class="col" style="margin-top:0">
                    <div class="d-flex justify-content-end">
                        @if (BancoDeDados.CheckProfileExists(cookieValue) == false)
                        {
                            <img onclick="OpenUserProfile(@cookieValue)" class="rounded-circle border border-dark" style="width: 8%; height: 4.5vh; cursor:pointer" src="~/user.png" alt="Você" />
                        }
                        else
                        {
                            <img onclick="OpenUserProfile(@cookieValue)" class="rounded-circle border border-dark" style="width: 8%; height: 4.5vh; cursor:pointer" src="@BancoDeDados.GetProfilePic(cookieValue)" alt="Você" />
                        }
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="border-start border-end border-dark shadow" style="background-color: #B8D4DD; width: 100%; min-height:100vh; height:auto; padding-bottom:2%; margin:0 auto">
                <br>
                <img class="ProfilePic shadow-lg" src="@profile.imageUrl" alt="ProfilePic" />

                @if (cookieValue == profile.userId)
                {
                    <br />
                    <div style='width:70%; margin: 0 auto; display: block'>
                        <button class="btn btn-light btn-outline-dark shadow" style='float:right;' onclick='window.location.replace("EditarPerfil.cshtml")'>Editar</button>
                    </div>
                    <br />
                }


                <br>
                <div class="border border-dark rounded shadow" style="margin:0 auto; min-height: 35vh; height:auto; width:80%; background-color: #EAEAEA">
                    <br>
                    <label class="fs-4 fw-bold" style="padding-left:3%; font-family: 'Century Gothic';">@profile.name</label> <label class="fs-6 fw-lighter text-muted" style="margin-left:1%">|@profile.login|</label>
                    <p style="padding-left:5%; margin-top:2%; font-family: 'Century Gothic'; white-space:pre-wrap">@profile.description</p>
                    <form method="post">
                        <input type="hidden" name="profUserId" value="" />
                    </form>
                </div>
            </div>
        </div>
        <script>
            function IndexRedirect() {
                window.location.replace("index.cshtml")
            }
        </script>
    }
    else
    {
        Response.Redirect("LoginPage.cshtml");
    }
</body>
</html>