.inputField {
    background-color: white;
}

.backgroundBlank {
    background-color: white;
    margin: 0px auto;
    width: 60%;
    border: 3px solid black;
    border-radius: 10px;
    border-right: 2px solid #002B5B;
    border-left: 2px solid #002B5B;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

fieldset {
    color: black;
    font-family: "Segoe UI","Arial","Times New Roman";
    margin-right: 10px;
    margin-bottom: 5px;
}

.defaultHeader {
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 50px;
    color: black;
}







/* =======================================================  LOGIN PAGE =================================================================*/

.loginDiv {
    margin: 0px auto;
    width: 50%;
    background-color: whitesmoke;
    border: 2px solid #002B5B;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px rgb(240, 240, 245);
}



/*========================================================  INDEX PAGE =====================================================================*/
.indexDefaults {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.indexContainer{
    width:100%;
    height:100vh;
}
.col1 {
    position: fixed;
    top:0px;
    background-color: antiquewhite;
    height: 100vh;
    width: 24%;
    left:0;
    border-collapse: collapse;
}
.col2 {
    display:flex;
    margin:0px auto;
    flex-direction:column;
    background-color: white;
    min-height: 100vh;
    width: 50%;
    border-collapse: collapse;
}
.col3 {
    position: fixed;
    top: 0px;
    background-color: antiquewhite;
    height: 100vh;
    width: 24%;
    right: 0;
    border-collapse: collapse;
}
.messageOpts {
    background-color: whitesmoke;
    min-height: 1rem;
    max-height: 5rem;
    font-family: 'Century Gothic';
    font-size: 20px;
    margin: auto;
    display: block;
    width: 95%;
    resize: none;
}

.GotoLoginPage {
    display: block;
    margin: 0 auto;
    height: 80vh;
    width: 95%;
    padding-top: 2vh;
    background-color: antiquewhite;
    border-radius: 2px;
}

.OptsButton {
    display: block;
    margin: 0 auto;
    background-color: black;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    border: none;
    border-radius: 10px;
}

.twitterText {
    font-family: 'Century Gothic';
    border: none;
    border-radius: 10px;
    color: white;
}

.feedDiv{
    padding-top: 5px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    margin: 0 auto;
    width: 90%;
    background-color:whitesmoke;
    border-radius: 10px;
}

.feedText {
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Century Gothic';
    border: none;
    border-radius: 10px;
    color: black;
}

/*========================================================  PROFILE PAGE =====================================================================*/

.ProfileHeader {
    display: flex;
    margin: 0 auto;
    width: 50%;
    height: 45vh;
    background-color: lightgray;
    padding-bottom: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

.ProfilePic {
    display: block;
    align-self: flex-end;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.ProfileInfos {
    margin: 0 auto;
    width: 50%;
    height: 55vh;
    background-color: whitesmoke;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

/*========================================================  EDIT PAGE =====================================================================*/

.EditFormDiv{

}







